<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <h1>Регистрация пользователя</h1>
    <form action="register" method="post">
        <input type="text" name="name" placeholder="введите имя" class="form-control"><br>
        <input type="text" name="lastName" placeholder="введите фамилию" class="form-control"><br>
        <input type="text" name="patronymic" placeholder="введите отчество" class="form-control"><br>
        <input type="number" name="iin" placeholder="введите иин" class="form-control"><br>
        <input type="number" name="phone" placeholder="введите номер телефона" class="form-control"><br>
        <input type="text" name="password" placeholder="введите пароль" class="form-control"><br>
        <input type="text" name="address" placeholder="введите адрес" class="form-control"><br>
        <button type="submit" class="btn btn-success">Зарегестрировать</button>
    </form>
</div>
<div>
<!--    <p th:text="${token}"/>-->
</div>
</body>
</html>